#events-container {
  position: relative;
  display: inline-block;
  width: 450px;;
  background: clear;
  margin-left: 7em;
}

#event-title {
  background: rgba(229, 21, 21, 0.83);
  color: white;
  font-size: 60px;
  display: flex;
  margin: 22px;
  padding-left: 15px;
  box-shadow: 3px 3px 10px #888888;
}


