.NavBar-welcome {
  color: red;
}

a {
  color: red;
}

.nav-custom {
    padding-bottom: 45px;
}

.nav-align-items {
    padding-top: 15px;  
}

nav  {
  background-color:  white!important;
} 

.special-logo {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: xx-large;
}