.jumbotron-img {
  background-image: url('https://static01.nyt.com/images/2017/08/09/dining/09DESSERT-slide-F6XI/09DESSERT-slide-F6XI-videoSixteenByNineJumbo1600.jpg');
  max-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;

}

.jumbo-title {
  font-size: 75px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 100px;
  margin-bottom: 0;
  margin-top: 0;
  height: 80vh;;
  padding-left: 550px;
  
}

.p-jumbo {
  padding-top: 345px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  width: 136vw;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  color: grey;
}

